@media (max-width: 767px) {
  .text-left {
    text-align: center !important;
  }
}

/* ------------------------- empiezan estilos */
html, body {
  font-family: "Myriad Pro", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  color: #7c7c7c;
}

h1, h2, h3{
  font-weight: bold;
  color: #11153f;
}

section.conten-menu-head .navbar li{
  font-weight: bold;
}

section.conten-menu-head .navbar li{
  font-weight: bold;
}


